# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# SCons (make) temporary files
*.os
.sconf_temp
.sconsign.dblite
config.log

# Compiled programs
testpass
